
@import url('https://fonts.googleapis.com/css?family=Pacifico');

main{
	width: 960px;
	box-shadow: 0px 5px 39px 6px rgba(77,25,77,1);
	font-family: 'Pacifico', cursive;
}

main,
img{
	margin: 0 auto;	
}

img{
	display: block;
}


.leftLink,
.rightLink{
	width: 253px;
	height: 795px;
}

.leftLink{
	float: left;
	background-image: url(../img/angels.jpg);
	background-position: 25px 99px;
	background-repeat: no-repeat;
}

.rightLink{
	float: right;
	background-image: url(../img/skeleton.jpg);
	background-position: 67px 158px;
	background-repeat: no-repeat;
}

.leftLink a,
.rightLink a{
	position: fixed;
	top: 130px;
	display: block;
	text-decoration: none;
	line-height: 100%;
	font-size: 30px;
}

.leftLink a{
	left: 250px;	
	color: #d0c9e2;
}

.leftLink a:hover,
.rightLink a:hover{
	color: #D0C3C3;
}



.rightLink a{
	right: 258px;
	color: #841417;
}

.centralPhoto{
	margin-top: 160px;
	width: 454px;
    float: left;
}	

.centralPhoto>a{
	display: block;
	text-decoration: none;
	height: 280px;
}