@import url('https://fonts.googleapis.com/css?family=Pacifico');

main{
	width: 920px;
	margin: 0 auto;
	background: url(../img/angels.jpg) repeat-x 16px -62px,
	          url(../img/angels.jpg) repeat-x 15px 878px;
	font-family: 'Pacifico', cursive;
}

h3{
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	font-size: 30px;
}

.whiteSideArticle,
.darkSideArticle{
	line-height: 24px;
	font-size: 17px;
	
}

.whiteSideArticle{
	padding: 100px;
	padding-top: 37px;
	text-indent: 30px;
}


.whiteSideArticle>span{
	margin-left: 52px;
}
